body {
    font-family: 'Lato', sans-serif;
    background-color: #57606f;
}

button {
    margin: 150px;
    margin-top: 120px;
    margin-left: 30px;
    border: 3px solid #ffd32a;
    font-size: 64px;
    color: #dfe4ea;
    text-decoration: none;
    text-transform: uppercase;
    width: 900px;
    min-height: 150px;
    display: block;
    text-align: center;
    line-height: 60px;
    font-family: 'Lato', sans-serif;
    position: relative;
    transition: .5s;
    overflow: hidden;
    background-color: #2f3542;
}

button::before,
button::after {
    position: absolute;
    content: '';
    width: 100%;
    min-height: 100%;
    background: #dfe4ea;
    top: 0;
    left: -100%;
    opacity: .5;
    transition: .3s;
    z-index: -1;
}

button::after {
    opacity: 1;
    transition-delay: .2s;
}

button:hover {
    color: #fff;
}

button:hover::before,
button:hover::after {
    left: 0;
}

#randomWord_UserInput {
    margin: 150px;
    margin-top: 120px;
    margin-left: 30px;
    border: 3px solid #a4b0be;
    font-size: 64px;
    color: #dfe4ea;
    text-decoration: none;
    width: 900px;
    min-height: 130px;
    display: block;
    line-height: 60px;
    font-family: 'Lato', sans-serif;
    position: relative;
    transition: .5s;
    overflow: hidden;
    background-color: #2f3542;
}

#randomWord_UserInput::before,
#randomWord_UserInput::after {
    position: absolute;
    content: '';
    width: 100%;
    min-height: 100%;
    background: #dfe4ea;
    top: 0;
    left: -100%;
    opacity: .5;
    transition: .3s;
    z-index: -1;
}

#randomWord_UserInput::after {
    opacity: 1;
    transition-delay: .2s;
}

#randomWord_UserInput:hover {
    color: #fff;
}

#randomWord_UserInput:hover::before,
#randomWord_UserInput:hover::after {
    left: 0;
}

div {
    margin: 150px;
    margin-top: 120px;
    margin-left: 30px;
    border: 3px solid #a4b0be;
    font-size: 64px;
    color: #dfe4ea;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    width: 900px;
    min-height: 150px;
    display: block;
    line-height: 150px;
    font-family: 'Lato', sans-serif;
    position: relative;
    transition: .5s;
    overflow: hidden;
    background-color: #2f3542;
}

div::before,
div::after {
    position: absolute;
    content: '';
    width: 100%;
    min-height: 100%;
    background: #dfe4ea;
    top: 0;
    left: -100%;
    opacity: .5;
    transition: .3s;
    z-index: -1;
}

div::after {
    opacity: 1;
    transition-delay: .2s;
}

div:hover {
    color: #fff;
}

div:hover::before,
div:hover::after {
    left: 0;
}

h1 {
    margin: 150px;
    margin-top: 120px;
    margin-left: 30px;
    border: 3px solid #dfe4ea;
    font-size: 64px;
    color: #dfe4ea;
    text-decoration: none;
    text-transform: uppercase;
    width: 900px;
    min-height: 150px;
    display: block;
    text-align: center;
    line-height: 150px;
    font-family: 'Lato', sans-serif;
    position: relative;
    transition: .5s;
    overflow: hidden;
    background-color: #2f3542;
}

h1::before,
h1::after {
    position: absolute;
    content: '';
    width: 100%;
   min-height: 100%;
    background: #dfe4ea;
    top: 0;
    left: -100%;
    opacity: .5;
    transition: .3s;
    z-index: -1;
}

h1::after {
    opacity: 1;
    transition-delay: .2s;
}

h1:hover {
    color: #fff;
}

h1:hover::before,
h1:hover::after {
    left: 0;
}

#logic_userInput {
    text-transform: none;
}

#logic_wordAng {
    text-transform: none;
}

#logic_wordPl {
    text-transform: none;
}

#randomWord_wordPl {
    text-transform: none;
}
#score_Time{
  text-transform: none;
}
.clicked{
  display: block;
}
div input{
  display: inline-block;
  height:60px;
  width:60px;
  padding:10px;
  text-align: left;
}
.checkbox{
  text-transform: none;
  display: inline-block;
  font-size:54px;
  padding: 10px;
  line-height: 150px;
}
.toRemove{
  text-transform: none;
  display: inline-block;
  font-size:54px;
  padding: 10px;
}
.settings_Navi_Div{
  max-width: 900px;
  top: -150px;
  text-align: left;
  display: none;
  margin-bottom: 0px;
}
